@font-face {
  /* font-family: 'IBM Plex Mono'; */
  font-weight: normal;
  /* src:url('./IBMPlexMono-Regular.ttf') format('truetype'); */
}

@font-face {
  /* font-family: 'IBM Plex Mono'; */
  font-weight: bold;
  /* src:url('./IBMPlexMono-SemiBold.ttf') format('truetype'); */
}

/* * {
    background-color: whitesmoke !important;
} */

a {
    /* color: mediumpurple; */
    /* color: rgb(125,0,0); */
    /* color: rgb(75,75,75); */
    text-decoration-line: none;
}

h1,h2,h3,h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cell {
    display: block;
    /* height: 1200px; */
    font-size: small;
    /* width: 1250px;  */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .full-width {
    display: block;
    width: 1250px;
    transform: translate(-150px, 0);

} */

h1,h2,h3,h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .cell { */
/* #tbl-aiwar {
    margin-left: -30px;
    transform: translate(-200px, 0);
} */

.icon {
    width: 50px;
}

.g-img {
    width: 33px;
}

/* .g-box {
    width: 1250px;
    transform: translate(-250px, 0);
} */

.caption {
    font-size: small;
}

.lightbox {
    /* margin-top: 200px; */
    margin-top: 30px;
}

.table {
    font-size: small;
}

/* .sidebar {
    background-color: whitesmoke;
} */